.mainheader{
    font-family: 'Poppins';
}
li.nav-item{
    padding: 10px;
}
.mainheader nav.navbar.navbar-expand-lg {
    background-color: currentColor;
    padding: 20px;
}
.mainheader a.navbar-brand {
    color: cyan;
    font-size: x-large;
    font-weight: 600;
}
.mainheader a.nav-link.active {
    color: cyan;
}
.mainheader a.nav-link {
    color: cyan;
}
.imagebox
{
    width: 100%;
    height: 600px;

}
.imagebox img{
    /* width: 100%; */
    /* height: 100%; */
    object-fit: cover;
}
.course{
    text-align: center;
    
}
.course span{
    background-color: rgb(78, 97, 128);
    border-radius: 4px;
}
.test
{
    width: 400px;
    height: 50px;
}
.test img{
    height: 205px;
    object-fit: cover;
}
.text
{
    width: 400px;
    height: 50px;
}
.text img{
    height: 205px;
    object-fit: cover;
}
footer {
    margin-top: 10px;
    background-color: black;
    color: cadetblue;
    text-align: center;
    height: 176px;
}
.h2 {
    font-size: 2.5rem;
    padding-top: 60px;
    margin-right: 45px;
}
li.nav-item {
    padding: 1px;
}
.contact
{
    padding: 10px;
}